<launch>
    <node ns="hong_test" name="mid360Toimage" pkg="ls_slam" type="ls_slam" output="screen" clear_params="true">
    </node>

    <node ns ="hong_test" pkg="tf" type="static_transform_publisher" name="lidar_cam_broadcaster" args="0. 0. 0. 0. 0. 0. 1. livox_frame camera_link 10" />
</launch>
